# Gemma model
models/*.gguf

# Build files
build/
llama.cpp/build/

# External llama.cpp source
llama.cpp/

# C++ executables
*.exe

# Python
__pycache__/
*.pyc
.venv/
venv/

# VS Code
.vscode/

# Windows
Thumbs.db